.topo {
  margin: auto;
  margin-bottom: 30px;
}

#informacoes {
  margin: auto;
  width: 300px;
}

/* estilo do tabuleiro */
#game-board {
  width: 270px;
  height: 270px;
  margin: auto;
  /* display: none; */
}

#game-board div {
  border: 2px solid black;
  width: 90px;
  height: 90px;
  float: left;
  text-align: center;
  font-size: 55px;
}

#botoesFimJogo,
#divDoisJogadores {
  display: none;
}
